.menu{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #6eabe7;
    padding: 0px 10px;
    border-bottom: 1px solid black;
}

.iconos{
    position: absolute;
    right: 10px;
    top: 12px;
}

// .header{
//     background-color: #6eabe7;
//     padding: 20px;
//     // text-align: center;
//     position: sticky;
//     top: 0;
//     width: 100%;
//     // border-top: 1px solid black;
// }