<ion-content>
  <div class="menu">
    <div>
      <h1>Notifications</h1>
    </div>
    <div class="iconos">
      <app-icon-notifications></app-icon-notifications>

    </div>

  </div>

  <app-detail-notifications></app-detail-notifications>
  <app-detail-notifications></app-detail-notifications>
  <app-detail-notifications></app-detail-notifications>
  <app-detail-notifications></app-detail-notifications>

</ion-content>

<!-- <div class="menu">
  <div>
      <h1>Title</h1>
  </div>
  
  <div class="iconos">
      <app-icon-notifications></app-icon-notifications>
  </div>

</div> -->
