@media (prefers-color-scheme: light) {
  .light-mode-content {
    --ion-background-color: var(--ion-color-light);
  }
}

.input-age {
  max-width: 60px;
  margin: 0px 10px;
}
.button-age {
  padding: 10px;
  background-color: #d7d8da;
  border-radius: 5px;
  margin: 10px;
  width: unset;
}

.button-gris {
  padding: 10px;
  background-color: #d7d8da;
  border-radius: 5px;
  margin: 10px;
  width: unset;
}
span {
  color: red;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.password {
  position: relative;

  button {
      background: aliceblue;
      width: unset;
      position: absolute;
      right: 15%;
      margin: 0px;
      top: 15px;
  }


}

.button-back {
  padding: 10px;
  background-color: #d7d8da;
  border-radius: 5px;
  margin: 10px;
  width: unset;
}
.content-form {
  margin: 15px;
  border: 1px dotted #9E9E9E;
  padding: 10px;
}

.content-update{
  margin: 15px;
  border: 1px dotted #d7d8da;
  padding: 10px;
}
.button-edit {
  padding: 10px;
  background-color: #d7d8da;
  border-radius: 5px;
  margin: 10px;
  width: unset;
}


button{
  padding: 10px;
  background-color: var(--ocre);
  border-radius: 5px;
  margin: 10px;
  width: 150px;
}

input{
  padding: 15px;
  width: 90%;
  border-radius: 5px;
  margin: 5px 5px 20px 5px ;
}

img{
  max-width: 100px;
  border-radius: 100%;
}
.content {
  margin: 15px;
  border: 1px dotted #9E9E9E;
  padding: 20px;
}
