<ion-header translucent="true">
  <ion-toolbar>
    <ion-title color="primary">Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <!-- <ion-back-button></ion-back-button> -->
         <ion-button [routerLink]="['/home']">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- contenido -->
<ion-content fullscreen="true"  color="light" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
@if (!loading) {
  @if (user && userProfile) {
    <!-- Bienvenido -->
    <ion-list >

      <ion-list-header mode="ios">
        <ion-label>Bienvenido</ion-label>
      </ion-list-header>


      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="user.photoURL |reftourl | async"  />
        </ion-avatar>
        <ion-label>
          {{user.displayName}}
          <p>{{user.email}}</p>
        </ion-label>
      </ion-item>

    </ion-list>

    <!-- correo verificado o no verificado -->
    @if (user.emailVerified) {

      <div class="ion-text-end">
        <ion-chip color="success" mode="ios" >
          <ion-icon  name="checkmark-circle"></ion-icon>
          <ion-label>Correo Verificado</ion-label>
        </ion-chip>
      </div>
    }@else {
      <div class="ion-text-end">
        <ion-chip color="danger" mode="ios" >
          <ion-icon  name="close-circle"></ion-icon>
          <ion-label>Correo no Verificado</ion-label>
        </ion-chip>
      </div>
      <ion-list inset>
        <ion-item
          button
          detail="false"
          lines="none"
          (click)="enviarCorreo()">
          <ion-icon slot="end" name="send"></ion-icon>
            <ion-label>Enviar correo de verificacion</ion-label>
        </ion-item>
      </ion-list>

    }



    <!-- informacion -->
    <ion-list inset>
      <ion-list-header mode="ios">
        <ion-label>Informacion</ion-label>
      </ion-list-header>


      <ion-item lines="none">
        <ion-input
          label="Edad"
          mode="md"
          placeholder="Edad"
          labelPlacement="floating"
          [(ngModel)]="userProfile.age"
          ></ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="actualizarEdad()">
              <ion-icon slot="icon-only" name="save" color="primary"></ion-icon>

            </ion-button>
          </ion-buttons>
      </ion-item>
    </ion-list>



    <!-- opciones -->
    <ion-accordion-group [multiple]="true" [value]="['first']">
      <ion-accordion value="first">
        <ion-item slot="header" >
          <ion-icon slot="start" name="settings"></ion-icon>
          <ion-label>Opciones</ion-label>
        </ion-item>
        <div  slot="content">
          <ion-grid fixed >
            <ion-row>
              <ion-col >
                <ion-list >
                  <ion-item button (click)="selectOpcModal('email')">
                    <ion-icon slot="start" name="mail"></ion-icon>
                    <ion-label>Editar Correo</ion-label>
                  </ion-item>

                  <ion-item button (click)="selectOpcModal('photo')">
                    <ion-icon slot="start" name="image"></ion-icon>
                    <ion-label>Editar foto de perfil</ion-label>
                  </ion-item>

                  <ion-item button (click)="selectOpcModal('name')">
                    <ion-icon slot="start" name="person"></ion-icon>
                    <ion-label>Editar nombre de perfil</ion-label>
                  </ion-item>

                  <ion-item button (click)="selectOpcModal('password')">
                    <ion-icon slot="start" name="finger-print"></ion-icon>
                    <ion-label>Establecer Contraseña</ion-label>
                  </ion-item>

                  <ion-item button (click)="salir()">
                    <ion-icon slot="start" name="log-out"></ion-icon>
                    <ion-label>Cerrar sesión</ion-label>
                  </ion-item>
                  <ion-item button (click)="eliminarCuenta()">
                    <ion-icon slot="start" name="trash" color="danger"></ion-icon>
                    <ion-label>Eliminar cuenta</ion-label>
                  </ion-item>

                </ion-list>
              </ion-col>



            </ion-row>
          </ion-grid>


        </div>
      </ion-accordion>
      <ion-accordion value="second" *ngIf="isAdmin">
        <ion-item slot="header" >
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-label>Opciones avanzadas</ion-label>
        </ion-item>
        <div slot="content">
          <ion-grid fixed >
            <ion-row>
              <ion-col >
                <ion-list >
                  <ion-item button [routerLink]="['/auth/admin']">
                    <ion-icon slot="start" name="people"></ion-icon>
                    <ion-label>Administrar usuarios</ion-label>
                  </ion-item>





                </ion-list>
              </ion-col>



            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>

    </ion-accordion-group>

    <!-- modal -->
    <ion-modal #modalEditInfo
      [initialBreakpoint]="0.75" [breakpoints]="[0 , 0.75]"
      (willDismiss) = "modalEditInfo.isOpen = false"
    >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title color="primary">{{titleModal}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modalEditInfo.isOpen = false">
              <ion-icon slot="icon-only" name="close"></ion-icon>

            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>


      <ion-content class="ion-padding">
        <!-- editar correo -->
        @if (opcModal == 'email') {
          <ion-item lines="none" color="secondary">
            <ion-icon slot="start" name="information-circle" color="primary"></ion-icon>
            <ion-label>Ingresa el nuevo coreo, te enviaremos un enlace de verificacion para que el cambio sea exitoso. </ion-label>
          </ion-item>


           <form [formGroup]="formNewEmail" (ngSubmit)="actualizarEmail()">
            <br>
            <ion-input type="email" placeholder="email"
              label="Nuevo Correo"
              labelPlacement="floating"
              fill="outline"
              mode="md"
              errorText="Ingresa un correo válido"
            ></ion-input>
            <br>

            <div class="ion-text-center">
              <ion-button  type="submit" shape="round">
                Actualizar
              </ion-button>
            </div>

           </form>
        }

        <!-- cambiar nombre -->
         @if (opcModal == 'name') {
          <ion-item lines="none" color="secondary">
            <ion-label>Ingresa tu nombre de perfil</ion-label>
            <ion-icon slot="start" name="information-circle" color="primary"></ion-icon>
          </ion-item>
          <br>

          <ion-input type="text" placeholder="Nombre"
            fill="outline"
            label="Nombre"
            labelPlacement="floating"
            [(ngModel)] = "newName"
            mode="md"
          ></ion-input>
          <br>

          <div class="ion-text-center">
            <ion-button (click)="actualizarPerfil()"
              shape="round">
              Actualizar
            </ion-button>

          </div>

         }

         <!-- cambiar foto -->
          @if (opcModal == 'photo') {
            <ion-item lines="none">
              <input
                #files
                type="file"
                style="display: none;"
                accept="image/*"
                (change)="viewPreview(files)"
               >


            </ion-item>

             <ion-item >
              <ion-avatar slot="start">
                @if (!newPhoto) {
                  <img [src]="user.photoURL | reftourl | async" />
                } @else {
                  <img [src]="newPhoto | filetourl" />
                }
              </ion-avatar>

              <ion-buttons slot="end">
                <ion-button type="button" (click)="files.click()">
                  <ion-icon slot="start" name="image"></ion-icon>
                  editar
                </ion-button>
                <ion-button type="button" (click)="descargarFoto()" >
                  <ion-icon slot="icon-only" name="cloud-Download"></ion-icon>
                </ion-button>
              </ion-buttons>
             </ion-item>
             <br>

             @if (newPhoto) {
              <div class="ion-text-center">
                <ion-button (click)="editarProfilePicture()" shape="round">
                 Actualizar
                </ion-button>
              </div>
             }
          }

          <!-- cambiar password -->
           @if ( opcModal == 'password' ) {
            <!-- informacion -->
            <ion-item lines="none" color="secondary">
              <ion-icon slot="start" name="information-circle" color="primary"></ion-icon>

              <ion-label>Ingresa una nueva contraseña. <br> Para completar esta accion debes haber iniciado sesion recientemente</ion-label>
            </ion-item>
            <br>

            <form [formGroup]="formCambiarPassword" (ngSubmit)="cambiarPassword()">
              <!-- new password -->
              <ion-input type="password" placeholder="Contraseña"
                label="Contraseña"
                mode="md"
                fill="outline"
                labelPlacement="floating"
                errorText="Debe ser minimo de 6 caracteres"
                formControlName="newPassword"
              >
              <ion-input-password-toggle color="primary" slot="end" *ngIf="formCambiarPassword.controls['newPassword']?.value"></ion-input-password-toggle>
            </ion-input>
              <br>

              <!-- repeat password -->
              <ion-input type="password" placeholder="Contraseña"
              label="Repita la contraseña"
              mode="md"
              fill="outline"
              labelPlacement="floating"
              errorText="Debe ser minimo de 6 caracteres"
              formControlName="repeatPassword"
            >
              <ion-input-password-toggle color="primary" slot="end" *ngIf="formCambiarPassword.controls['repeatPassword']?.value"></ion-input-password-toggle>
            </ion-input>

            <span
              *ngIf="formCambiarPassword.controls['repeatPassword'].hasError('notSame')"
            >
              <i>Las contraseñas no <strong>coinciden</strong></i>
            </span>

            <br>

            <div class="ion-text-center">
              <ion-button type="submit" shape="round">
                Establecer
              </ion-button>

            </div>

            </form>


           }

      </ion-content>


    </ng-template>

    </ion-modal>

    <br>
    <br>

  }

}@else {
  <br>
  <div class="ion-text-center">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
}


</ion-content>

