<ion-header translucent="true">
  <ion-toolbar>
    <ion-title color="primary">Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <!-- <ion-back-button></ion-back-button> -->
         <ion-button [routerLink]="['/home']">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- contenido -->
<ion-content fullscreen="true" class="light-mode-content" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
@if (!loading) {
  @if (user && userProfile) {
    <!-- Bienvenido -->
    <ion-list>

      <ion-list-header mode="ios">
        <ion-label>Bienvenido</ion-label>
      </ion-list-header>


      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="user.photoURL |reftourl | async"  />
        </ion-avatar>
        <ion-label>
          {{user.displayName}}
          <p>{{user.email}}</p>
        </ion-label>
      </ion-item>

    </ion-list>

    <!-- correo verificado o no verificado -->
    @if (user.emailVerified) {

      <div class="ion-text-end">
        <ion-chip color="success" mode="ios" >
          <ion-icon  name="checkmark-circle"></ion-icon>
          <ion-label>Correo Verificado</ion-label>
        </ion-chip>
      </div>
    }@else {
      <div class="ion-text-end">
        <ion-chip color="danger" mode="ios" >
          <ion-icon  name="close-circle"></ion-icon>
          <ion-label>Correo no Verificado</ion-label>
        </ion-chip>
      </div>
      <ion-list inset>
        <ion-item
          button
          detail="false"
          lines="none"
          (click)="enviarCorreo()">
          <ion-icon slot="end" name="send"></ion-icon>
            <ion-label>Enviar correo de verificacion</ion-label>
        </ion-item>
      </ion-list>

    }



    <!-- informacion -->
    <ion-list inset>
      <ion-list-header mode="ios">
        <ion-label>Informacion</ion-label>
      </ion-list-header>


      <ion-item lines="none">
        <ion-input
          label="Edad"
          mode="md"
          placeholder="Edad"
          labelPlacement="floating"
          [(ngModel)]="userProfile.age"
          ></ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="actualizarEdad()">
              <ion-icon slot="icon-only" name="save"></ion-icon>

            </ion-button>
          </ion-buttons>
      </ion-item>
    </ion-list>



    <!-- opciones -->
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" >
          <ion-icon slot="start" name="settings"></ion-icon>
          <ion-label>Opciones</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid fixed class="ion-no-padding">
            <ion-row>
              <ion-col size="12" size-md="8">
                <ion-list inset>
                  <ion-item button (click)="selectOpcModal('email')">
                    <ion-icon slot="start" name="mail"></ion-icon>
                    <ion-label>Editar Correo</ion-label>
                  </ion-item>

                  <ion-item button (click)="selectOpcModal('photo')">
                    <ion-icon slot="start" name="image"></ion-icon>
                    <ion-label>Editar foto de perfil</ion-label>
                  </ion-item>

                  <ion-item button (click)="selectOpcModal('name')">
                    <ion-icon slot="start" name="person"></ion-icon>
                    <ion-label>Editar nombre de perfil</ion-label>
                  </ion-item>

                  <ion-item button (click)="selectOpcModal('password')">
                    <ion-icon slot="start" name="finger-print"></ion-icon>
                    <ion-label>Establecer Contraseña</ion-label>
                  </ion-item>

                  <ion-item button (click)="salir()">
                    <ion-icon slot="start" name="log-out"></ion-icon>
                    <ion-label>Cerrar sesión</ion-label>
                  </ion-item>
                  <ion-item button (click)="eliminarCuenta()">
                    <ion-icon slot="start" name="trash" color="danger"></ion-icon>
                    <ion-label>Eliminar cuenta</ion-label>
                  </ion-item>

                </ion-list>
              </ion-col>



            </ion-row>
          </ion-grid>


        </div>
      </ion-accordion>
      <ion-accordion value="second" *ngIf="isAdmin">
        <ion-item slot="header" >
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-label>Opciones avanzadas</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid fixed class="ion-no-padding">
            <ion-row>
              <ion-col size="12" size-md="8">
                <ion-list inset>
                  <ion-item button [routerLink]="['/auth/admin']">
                    <ion-icon slot="start" name="people"></ion-icon>
                    <ion-label>Administrar usuarios</ion-label>
                  </ion-item>





                </ion-list>
              </ion-col>



            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>

    </ion-accordion-group>

    <!-- modal -->
    <ion-modal #modalEditInfo
      [initialBreakpoint]="0.75" [breakpoints]="[0 , 0.75]"
      (willDismiss) = "modalEditInfo.isOpen = false"
    >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title color="primary">{{titleModal}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modalEditInfo.isOpen = false">
              <ion-icon slot="icon-only" name="close"></ion-icon>

            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>


      <ion-content class="ion-padding">
        @if (opcModal == 'email') {
          <ion-item lines="none" color="secondary">
            <ion-icon slot="start" name="information-circle"></ion-icon>
            <ion-label>Ingresa el nuevo coreo, te enviaremos un enlace de verificacion para que el cambio sea exitoso. </ion-label>
          </ion-item>

          <!-- todo continuar aqui con el form -->
        }

      </ion-content>


    </ng-template>

    </ion-modal>

    <br>
    <br>

  }

}@else {
  <br>
  <div class="ion-text-center">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
}


</ion-content>

