:root {
  /* Colores principales */
  --marron: #3F2021;  /* Color primario */
  --ocre: #BD9B60;  /* Color secundario / Resaltados */
  --blanco: #F5F7F6;  /* Fondo en Light Mode */
  --negro: #101820;  /* Fondo en Dark Mode */

  /* Adicionales */
  --gris-claro: #D1D1D1;  /* Bordes, sombras sutiles */
  --gris-oscuro: #3A3A3A;  /* Textos secundarios en Dark Mode */

  --ion-color-primary: #BD9B60;
	--ion-color-primary-rgb: 189,155,96;
	--ion-color-primary-contrast: white;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #a68854;
	--ion-color-primary-tint: #c4a570;

  // --ion-color-secondary: #704214;
	// --ion-color-secondary-rgb: 112,66,20;
	// --ion-color-secondary-contrast: #ffffff;
	// --ion-color-secondary-contrast-rgb: 255,255,255;
	// --ion-color-secondary-shade: #633a12;
	// --ion-color-secondary-tint: #7e552c;

  --ion-color-secondary: #3F2021;
	--ion-color-secondary-rgb: 63,32,33;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #371c1d;
	--ion-color-secondary-tint: #523637;



}

@media (prefers-color-scheme: dark){

  body{

    --ion-color-primary: #BD9B60;
    --ion-color-primary-rgb: 189,155,96;
    --ion-color-primary-contrast: white;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #a68854;
    --ion-color-primary-tint: #c4a570;

    --ion-color-secondary: #1E8A8D;
    --ion-color-secondary-rgb: 30,138,141;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #1a797c;
    --ion-color-secondary-tint: #359698;



  }

  .md body{
    --ion-background-color: #3A3A3A;

  }

  .ios body{
    --ion-background-color: #3A3A3A;



  }

}





/* Dark Mode */
[data-theme="dark"] {
  --fondo: var(--negro);
  --texto: var(--blanco);
  --input-bg: var(--gris-oscuro);
  --input-text: var(--blanco);
  --boton-bg: var(--marron);
  --boton-text: var(--blanco);
  --hover-bg: var(--ocre);
}

/* Light Mode */
[data-theme="light"] {
  --fondo: var(--blanco);
  --texto: var(--negro);
  --input-bg: var(--gris-claro);
  --input-text: var(--negro);
  --boton-bg: var(--ocre);
  --boton-text: var(--negro);
  --hover-bg: var(--marron);
}

// ion-button {
//   --background: var(--ocre);
//   // background-color: var(--boton-bg);
//   // color: var(--boton-text);
//   padding: 10px 10px;
//   border: none;
//   // border-radius: 5px;
//   cursor: pointer;
//   transition: background 0.3s;
// }

// ion-buttons {
//   --background: var(--ocre);
//   // background-color: var(--boton-bg);
//   // color: var(--boton-text);
//   padding: 10px 10px;
//   border: none;
//   // border-radius: 5px;
//   cursor: pointer;
//   transition: background 0.3s;
// }

// ion-button:hover {
//  --background: var(--marron);
// }
