<ion-footer>
  <ion-toolbar>
    <div class="botones">
      <ion-button>Store</ion-button>
      <ion-button><ion-icon name="home-outline"></ion-icon></ion-button>
      <ion-button>Contact</ion-button>
      <ion-button>Login</ion-button>

    </div>

  </ion-toolbar>
</ion-footer>



<div>
  <h3 class="footer" id="focus-target" >
    <!-- Footer -->
     <div class="button-div">
       <button [routerLink]="['/store']"  class='option-menu'>Store</button>
       <button [routerLink]="['/home']" class='option-menu'>home</button>
       <button [routerLink]="['/contact']" class='option-menu'>contact</button>
       <button [routerLink]="['/auth']" class='option-menu'>login</button>

     </div>
       <div class="right-div" [ngClass]="{'empty-cart': cant == 0}"><p>{{cant}}</p></div>
  </h3>
</div>
