<ion-header translucent="true">
  <ion-toolbar>
    <ion-title color="primary">Completar registro</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <!-- <ion-back-button></ion-back-button> -->
         <ion-button [routerLink]="['/auth']">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- contenido -->
<ion-content fullscreen="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Completar registro</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" size-md="8" size-xl="6">
        <br>

        <form [formGroup]="datosFormCompleteRegistro" (ngSubmit)="completarRegistro()">
          <ion-input label="Email"
           placeholder="Email"
           type="text"
           readonly
           formControlName="email"
           fill="outline"
           mode="md"
           labelPlacement="floating"
          >
        </ion-input>
        <br>

        <ion-input label="Nombre"
           placeholder="Nombre"
           type="text"
           formControlName="name"
           fill="outline"
           mode="md"
           labelPlacement="floating"
           errorText="Este campo es requerido"
          >
        </ion-input>
        <br>

        <ion-input label="Edad"
           placeholder="Edad"
           type="number"
           formControlName="age"
           fill="outline"
           mode="md"
           labelPlacement="floating"
           errorText="Este campo es requerido"
          >
        </ion-input>
          <br>

         <!-- el input de la foto -->
         <input #inputFile
         (change)="viewPreview(inputFile)"
         type="file"
         style="display: none;"
         accept="image/*"
       >

       <!-- boton para cargar la foto en la app -->
       <ion-list inset  mode="ios">
         <ion-item button lines="none" detail="false" (click)="inputFile.click()">
           <ion-label>Seleciona una foto de perfil</ion-label>

               <ion-icon slot="end" name="image" color="primary"></ion-icon>

         </ion-item>
       </ion-list>

       <!-- vista previa de la foto -->
       @if(file){
        <ion-img
          [src]="file | filetourl "
        ></ion-img>

       }
       <br>

       <div class="ion-text-center">
        <ion-button type="submit" color="primary" shape="round">
          Completar Registro
        </ion-button>
       </div>

        </form>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>


